<!doctype html>
<html>
<head>
<title>My AngularJS App</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body ng-app="myApp">

	<div ng-controller="MyController">
		First Name: <input type="text" ng-model="firstName"/>
		Last Name: <input type="text" ng-model="lastName"/>
		<h1>Hello: {{ getFullName() | uppercase }}</h1>
	</div>

	<script>
	//angular module
	var app = angular.module("myApp", []).controller("MyController", function($scope) {
		$scope.firstName = "#";
		$scope.lastName = "?";
		$scope.getFullName = function(){
			return $scope.firstName + " " + $scope.lastName;
		}
		
	});

	</script>
</body>
</html>
<!-- 
-Html is loaded and evaluated by the browser
-Angular is loaded and executed, creating the angular global object
-the js is loaded and executed the myApp module and registers the HomeController
function is executed.
-->