body {
  padding-top: 70px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Login page styles based on https://v4-alpha.getbootstrap.com/examples/signin/signin.css */
body.login {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

body.setup {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-page {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-page .form-page-heading {
  margin-bottom: 10px;
}

.form-page div.checkbox {
  padding-left: 5px;
  margin-bottom: 10px;
  font-weight: normal;
}

.form-page .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-page .form-control:focus {
  z-index: 2;
}

.form-page input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-page input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
