.btn-primary {
  color: #ffffff;
  background-color: #08BDBD;
  border-color: #07a3a3;
  text-transform: uppercase;
  font-family: "Poppins", calibri, helvetica-neue, helvetica, arial, sans-serif; }
  .btn-primary:hover {
    background-color: #069b9b; }

body {
  background-color: #eeeeee;
  color: #474c55;
  overflow-x: hidden; }

h1, h2, h3, h4 {
  font-family: "Montserrat", calibri, helvetica-neue, helvetica, arial, sans-serif; }

header {
  border-top: 2px solid #F21B3F;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 7em;
  max-height: 7em;
  padding: 0; }
  header h1 {
    padding: 0;
    margin: 0.5em 0 0 1em;
    font-size: 3.5em; }
    header h1 a, header h1 a:hover, header h1 a:visited, header h1 a:active {
      text-decoration: none;
      color: #444; }
    header h1 .glyphicon {
      font-size: 0.7em;
      color: #fff;
      background-color: #08BDBD;
      display: inline-block;
      padding: 0.5em; }
  header nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3em 2em 0 0;
    padding: 0; }
    header nav ul {
      list-style-type: none; }
      header nav ul a {
        margin-left: 2em; }
        header nav ul a:hover {
          text-decoration: underline; }
        header nav ul a li {
          display: inline; }

footer {
  text-align: center;
  color: #666;
  margin-bottom: 2em; }

.white-container {
  background-color: #fff;
  border: 1px solid #aaa;
  border-top: 3px solid #F21B3F;
  margin-bottom: 5em;
  padding: 2em;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.3em;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

#login-container {
  margin-top: 15em;
  width: 25em; }

#pendingRequests, #employeeAccountContainer, #managerMain {
  margin-top: 10em; }

#employeeAccountContainer {
  width: 50%; }
  #employeeAccountContainer table tr:first-child td {
    border-top: none; }
  #employeeAccountContainer table tr td:first-child {
    font-weight: bold; }

.request-table-container h3 {
  text-align: center;
  margin-top: -0.2em;
  margin-bottom: 1em; }
.request-table-container table {
  cursor: pointer; }
  .request-table-container table thead {
    font-family: "Poppins", calibri, helvetica-neue, helvetica, arial, sans-serif;
    background-color: #eee;
    text-transform: uppercase;
    font-size: small; }
  .request-table-container table tbody .text {
    position: relative; }
    .request-table-container table tbody .text span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: absolute;
      left: 0;
      right: 0;
      color: #999; }
    .request-table-container table tbody .text:before {
      content: "";
      display: inline-block; }

#viewRequestModal .modal-content, #newRequestModal .modal-content, #newUserModal .modal-content {
  padding: 2em; }
  #viewRequestModal .modal-content h4, #newRequestModal .modal-content h4, #newUserModal .modal-content h4 {
    font-weight: bold; }
  #viewRequestModal .modal-content table tr:first-child td, #newRequestModal .modal-content table tr:first-child td, #newUserModal .modal-content table tr:first-child td {
    border-top: none; }
  #viewRequestModal .modal-content table tr td:first-child, #newRequestModal .modal-content table tr td:first-child, #newUserModal .modal-content table tr td:first-child {
    font-weight: bold; }

table.tablesorter thead tr .header {
  cursor: pointer;
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right; }

table.tablesorter thead tr .headerSortUp {
  background-image: url(../img/asc.gif); }

table.tablesorter thead tr .headerSortDown {
  background-image: url(../img/desc.gif); }

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: rgba(123, 178, 216, 0.44); }

/*# sourceMappingURL=main.css.map */
