body { 	
	position: relative; 
	padding-top: 60px; 
}
		
#Pinned { 	
	position: fixed; 
	top: 0;
	width: 10000px;
}

.Linked {	
	padding-top: 86px;
}

var {
	color: #5d5493;
}
	
header {
	font-size: 40px;
}	