<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EmployeeReimbursementSystem</display-name>
  <welcome-file-list>
    <welcome-file>site.ftl</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>freemarker</servlet-name>
    <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
    <init-param>
      <param-name>TemplatePath</param-name>
      <param-value>/</param-value>
    </init-param>
    <init-param>
      <param-name>NoCache</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>ContentType</param-name>
      <param-value>text/html; charset=UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>template_update_delay</param-name>
      <param-value>10</param-value>
    </init-param>
    <init-param>
      <param-name>default_encoding</param-name>
      <param-value>ISO-8859-1</param-value>
    </init-param>
    <init-param>
      <param-name>number_format</param-name>
      <param-value>0.##########</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>freemarker</servlet-name>
    <url-pattern>*.ftl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.ers.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.ers.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewPending</servlet-name>
    <servlet-class>com.ers.servlets.ViewPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPending</servlet-name>
    <url-pattern>/viewPending</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewResolved</servlet-name>
    <servlet-class>com.ers.servlets.ViewResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewResolved</servlet-name>
    <url-pattern>/viewResolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterEmployee</servlet-name>
    <servlet-class>com.ers.servlets.RegisterEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEmployee</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewEmployees</servlet-name>
    <servlet-class>com.ers.servlets.ListEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployees</servlet-name>
    <url-pattern>/viewEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitRequest</servlet-name>
    <servlet-class>com.ers.servlets.SubmitRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRequest</servlet-name>
    <url-pattern>/submitRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>com.ers.servlets.UpdateEmployeeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/updateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewEmployeesRequests</servlet-name>
    <servlet-class>com.ers.servlets.ViewEmployeesRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeesRequests</servlet-name>
    <url-pattern>/viewEmployeesRequests</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UpdateRequest</servlet-name>
  	<servlet-class>com.ers.servlets.UpdateRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UpdateRequest</servlet-name>
  	<url-pattern>/updateRequest</url-pattern>
  </servlet-mapping>
</web-app>