header
{
    background-color: #94ffdb; 
    text-align: center; 
    font-size: 10px; 
    font-style: italic; 
    /*
    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2; 
    */
}