$font-stack: 'Poppins',calibri,helvetica-neue,helvetica,arial,sans-serif
$font-stack2: 'Montserrat',calibri,helvetica-neue,helvetica,arial,sans-serif

html *
  margin: 0

h1, h2, h3, h4, p
  font-family: $font-stack !important
  letter-spacing: 1px
  line-height: 1.8em

nav a
  font-family: $font-stack2 !important
h3, h4
  font-weight: bold
  letter-spaceing: 0
h3
  text-align: center
  margin-bottom: 1em
  font-size: 2.5em
  &:before
    content: '< '
  &:after
    content: ' >'
h4
  font-size: 1.5em

#storyContainer
  width: 90%
  margin-left: 5%

body
  font-size: medium
  color: rgb(71, 76, 85)

input.button
  margin: auto
  -webkit-appearance: none

.clear
  clear: both

header
  margin-bottom: 0 !important
  background-color: rgba(150, 150, 150, .12) !important
  h2
    margin-left: 1em

nav
  transition: opacity .2s ease-out
  opacity: 0
  z-index: 100
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: rgb(72,76,85)
  border-bottom: 1px solid #505050
  ul
    margin-left: 20%
    list-style-type: none
    padding: 0
    a
      border-right: 1px solid #707070
      width: 10%
      float: left
      text-align: center
      font-size: .8em
      min-height: 3em
      padding: 1em 0 1em 0
      text-decoration: none
      font-weight: bold
      text-transform: uppercase
      color: #bbb
      &:hover
        text-decoration: none
        color: #ffaedf
      &:last-child
        border: none
      li
        padding: 0

section
  padding-top: 5em
  padding-bottom: 5em
  margin-top: 0
  margin-bottom: 0

#main-desc
  position: relative
  overflow: hidden
  background-color: #222 !important
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1)
  h4
    margin-bottom: 1em
  video
    opacity: .15
    z-index: 15
    position: absolute
    top: 0
    left: 0
    min-height: 100%
    min-width: 100%
    overflow: hidden
  #desc
    color: #fff
    z-index: 200
    margin-top: 10em
    margin-bottom: 10em
    text-align: center
    width: 50%
    margin-left: 25%

$gridColor: #becaff
#userStories
  background-color: rgb(86, 128, 154)
  color: #fff
  font-size: small
  padding-top: 8em
  .row
    border-bottom: 2px dotted $gridColor
    &:last-child
      border-bottom: none
    .col-xs-4
      border-right: 2px dotted $gridColor
      &:last-child
        border-right: none
  h4
    text-transform: uppercase
    padding-top: 2.5em
    margin-bottom: 1em
    letter-spacing: 0
    .glyphicon
      margin-right: 1em
  p
    padding: 0 2em 0 2em
    margin-bottom: 3.5em

#specialFeatures
  background-color: rgba(150, 150, 150, .12)

#ERD
  text-align: center
  background-color: #fff !important

#SQLSnippets
  background-color: rgba(150, 150, 150, .12)
  .row
    margin-bottom: 3em
    &:last-child
      margin-bottom: 0
    .well
      font-family: monospace

#patterns
  background-color: rgb(86, 128, 154)
  color: #fff
  //background: linear-gradient(to bottom , rgba(147, 200, 6, .15), #fff)
  #patternDesc
    text-align: center
    width: 50%
    margin-left: 25%
    p
      margin-bottom: 1em

#tools
  background-color: #fff !important
  text-align: center
  div
    width: 80%
    margin-left: 10%
    margin-bottom: 3em
    a
      max-width: 20%
      margin-right: 5em
      margin-bottom: 3em
      &:last-child
        margin-right: 0
    img
      max-height: 4em
      max-width: 20%
      margin-bottom: 3em
