<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Some more AngularJS</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller="MyController">
	First Name: <input type="text" ng-model="firstName"/><br>
	Last Name: <input type="text" ng-model="lastName"/><br>
	
	<h2>Hey {{ getFullName() | uppercase }}</h2>
</div>

<script>
	// Implementation of a controller
	angular.module("myApp", []).controller("MyController", function($scope) {
		$scope.firstName = "John";
		$scope.lastName = "Doe";
		// Creating a function called getFullName that will be used in the html
		$scope.getFullName = function() {
			return $scope.firstName + " " + $scope.lastName;
		}
	});
</script>
</body>
</html>