doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='./lib/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='./lib/jquery-ui/jquery-ui.min.css')
        link(rel='stylesheet', href='./lib/jquery-ui/jquery-ui.structure.min.css')
        //link(rel='stylesheet', href='./lib/jquery-ui/jquery-ui.theme.min.css')

        title Bank | Revature

        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
        link(rel='apple-touch-icon', href='./img/favicon.png')
        link(rel='stylesheet', href='./css/main.css')
    body.container-fluid
        header#top.jumbotron.page-header
            h2 Bank &middot; REVATURE &nbsp;&nbsp;
                small Richard Marquez [<a href="https://github.com/Revature1705May15Java/1705May15Java/tree/Richard_Marquez/Richard_Marquez_Code/Bank">1705May15Java</a>]

        //nav
            ul.nav.nav-pills
                li.active
                    a(href='#home', data-toggle='tab') Home
                li
                    a(href='#asdf', data-toggle='tab') Asdf

        main.tab-content
            div#home.container-fluid.tab-pane.active
                div#main-desc.row.container-fluid
                    h3 A console-based banking application
                    p lorem ipsum dolor sit amet sklj s flks fsjfjskldjfs
                        | lskdj fsdjfkls jdfsjjsldkls df
                        | sldjf lsd jflsj df sjldk fsl df
                        | skdjlfks jfjs
                        | lskdj fsdjfkls jdfsjjsldkls df
                        | sldjf lsd jflsj df sjldk fsl df
                        | skdjlfks jfjs

                div.row
                    div.col-xs-3.col-xs-offset-1
                        div.panel.panel-primary
                            div.panel-heading
                                span Oracle DB
                            div.panel-body
                                p asdf
                    div.col-xs-4
                        div.panel.panel-success
                            div.panel-heading
                                span Java
                            div.panel-body
                                p asdf
                    div.col-xs-3
                        div.panel.panel-info
                            div.panel-heading
                                span panel 3
                            div.panel-body
                                p asdf

            div#asdf.tab-pane.container-fluid
                p asdf qwert


        script(src='./lib/jquery.min.js')
        script(src='./lib/bootstrap/bootstrap.min.js')
        script(src='./lib/jquery-ui/jquery-ui.min.js')
        script(src='./js/main.js')