doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='./lib/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='./lib/jquery-ui/jquery-ui.min.css')
        link(rel='stylesheet', href='./lib/jquery-ui/jquery-ui.structure.min.css')
        //link(rel='stylesheet', href='./lib/jquery-ui/jquery-ui.theme.min.css')

        title Bank &middot; Revature

        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Poppins')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
        link(rel='apple-touch-icon', href='./img/favicon.png')
        link(rel='stylesheet', href='./css/main.css')
    body
        header#top.jumbotron.container-fluid
            h2 BANK &middot; REVATURE &nbsp;&nbsp;
                small Richard Marquez [<a href="https://github.com/Revature1705May15Java/1705May15Java/tree/Richard_Marquez/Richard_Marquez_Code/Bank">1705May15Java</a>]

        nav
            ul
                a(href='#top')
                    li Top
                a(href='#userStories')
                    li User Stories
                a(href='#specialFeatures')
                    li Features
                a(href='#ERD')
                    li ERD
                a(href='#SQLSnippets')
                    li SQL
                a(href='#patterns')
                    li Patterns
                a(href='#tools')
                    li Tools

        main
            section#main-desc
                video(muted, loop, autoplay, poster='./img/puppersnap.png')
                    source(src='./img/pupper.mp4')
                div#desc
                    h4 A console-based banking application
                    p lorem ipsum dolor sit amet sklj s flks fsjfjskldjfs
                        | lskdj fsdjfkls jdfsjjsldkls df
                        | sldjf lsd jflsj df sjldk fsl df
                        | skdjlfks jfjs
                        | lskdj fsdjfkls jdfsjjsldkls df
                        | sldjf lsd jflsj df sjldk fsl df
                        | skdjlfks jfjs

            section#userStories.container-fluid
                div#storyContainer.container-fluid
                    //h3 User Stories
                    div.row
                        div.col-xs-4
                            h4
                                span.glyphicon.glyphicon-user
                                | Create User
                            p
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | alsjflksd fls dlfj sdlkjflksdjf ksjd
                        div.col-xs-4
                            h4
                                span.glyphicon.glyphicon-log-in
                                | Log In/Out
                            p
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | alsjflksd fls dlfj sdlkjflksdjf ksjd
                        div.col-xs-4
                            h4
                                span.glyphicon.glyphicon-piggy-bank
                                | Create Account
                            p
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | alsjflksd fls dlfj sdlkjflksdjf ksjd
                    div.row
                        div.col-xs-4
                            h4
                                span.glyphicon.glyphicon-usd
                                | Check Balance
                            p
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | alsjflksd fls dlfj sdlkjflksdjf ksjd
                        div.col-xs-4
                            h4
                                span.glyphicon.glyphicon-plus
                                | Deposit
                            p
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | alsjflksd fls dlfj sdlkjflksdjf ksjd
                        div.col-xs-4
                            h4
                                span.glyphicon.glyphicon-minus
                                | Withdraw
                            p
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | alsjflksd fls dlfj sdlkjflksdjf ksjd
                    div.row
                        div.col-xs-4
                            h4
                                span.glyphicon.glyphicon-transfer
                                | Transfer Funds
                            p
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | alsjflksd fls dlfj sdlkjflksdjf ksjd
                        div.col-xs-4
                            h4
                                span.glyphicon.glyphicon-paperclip
                                | Joint Accounts
                            p
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | alsjflksd fls dlfj sdlkjflksdjf ksjd
                        div.col-xs-4
                            h4
                                span.glyphicon.glyphicon-remove
                                | Close Account
                            p
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | lskdj fsdjfkls jdfsjjsldkls df
                                | sldjf lsd jflsj df sjldk fsl df
                                | skdjlfks jfjs
                                | alsjflksd fls dlfj sdlkjflksdjf ksjd

            section#specialFeatures.container-fluid
                h3 Special Features
                div.row
                    div.col-xs-3.col-xs-offset-1
                        div.panel.panel-primary
                            div.panel-heading
                                span Password Hashing
                            div.panel-body
                                p asdf
                    div.col-xs-4
                        div.panel.panel-success
                            div.panel-heading
                                span Emails
                            div.panel-body
                                p asdf
                    div.col-xs-3
                        div.panel.panel-info
                            div.panel-heading
                                span Logging
                            div.panel-body
                                p asdf

            section#ERD
                h3 Entity-Relationship Diagram
                img(src='./img/erd.png', alt='ERD')

            section#SQLSnippets.container-fluid
                h3 SQL Snippets
                div.row
                    div.col-xs-3.col-xs-offset-2
                        h4 Statements
                    div.col-xs-5
                        p.well
                            | lskdj fsdjfkls jdfsjjsldkls df
                            | sldjf lsd jflsj df sjldk fsl df
                            | skdjlfks jfjs
                            | lskdj fsdjfkls jdfsjjsldkls df
                            | sldjf lsd jflsj df sjldk fsl df
                            | skdjlfks jfjs
                            | alsjflksd fls dlfj sdlkjflksdjf ksjd

                div.row
                    div.col-xs-3.col-xs-offset-2
                        h4 PreparedStatements
                    div.col-xs-5
                        p.well
                            | lskdj fsdjfkls jdfsjjsldkls df
                            | sldjf lsd jflsj df sjldk fsl df
                            | skdjlfks jfjs
                            | lskdj fsdjfkls jdfsjjsldkls df
                            | sldjf lsd jflsj df sjldk fsl df
                            | skdjlfks jfjs
                            | alsjflksd fls dlfj sdlkjflksdjf ksjd
                div.row
                    div.col-xs-3.col-xs-offset-2
                        h4 CallableStatements
                    div.col-xs-5
                        p.well
                            | lskdj fsdjfkls jdfsjjsldkls df
                            | sldjf lsd jflsj df sjldk fsl df
                            | skdjlfks jfjs
                            | lskdj fsdjfkls jdfsjjsldkls df
                            | sldjf lsd jflsj df sjldk fsl df
                            | skdjlfks jfjs
                            | alsjflksd fls dlfj sdlkjflksdjf ksjd

            section#patterns
                h3 Design Patterns
                div#patternDesc
                    p
                        | lskdj fsdjfkls jdfsjjsldkls df
                        | sldjf lsd jflsj df sjldk fsl df
                        | skdjlfks jfjs
                        | lskdj fsdjfkls jdfsjjsldkls df
                        | sldjf lsd jflsj df sjldk fsl df
                        | skdjlfks jfjs
                        | alsjflksd fls dlfj sdlkjflksdjf ksjd
                    p
                        | lskdj fsdjfkls jdfsjjsldkls df
                        | sldjf lsd jflsj df sjldk fsl df
                        | skdjlfks jfjs
                        | lskdj fsdjfkls jdfsjjsldkls df
                        | sldjf lsd jflsj df sjldk fsl df
                        | skdjlfks jfjs
                        | alsjflksd fls dlfj sdlkjflksdjf ksjd

            section#tools
                h3 Tools
                div
                    a(href='http://java.com')
                        img(src='./img/tech_logos/java.jpg')
                    a(href='http://www.oracle.com/database/')
                        img(src='./img/tech_logos/oracle.png')
                    a(href='https://jquery.com')
                        img(src='./img/tech_logos/jquery.png')
                    a(href='http://github.com')
                        img(src='./img/tech_logos/github.png')
                    a(href='https://pugjs.org')
                        img(src='./img/tech_logos/jade.png')
                    a(href='http://sass-lang.com')
                        img(src='./img/tech_logos/sass.png')
                    a(href='http://getbootstrap.com')
                        img(src='./img/tech_logos/bootstrap.png')



        script(src='./lib/jquery.min.js')
        script(src='./lib/bootstrap/bootstrap.min.js')
        script(src='./lib/jquery-ui/jquery-ui.min.js')
        script(src='./js/main.js')